<div class='dashboard-content'>
  <div class='container'>
    <div class='card'>
      <div class='card-header'>
        <h1>Create Bank Account</h1>
      </div>
      <div class='card-body'>
        <form class="row g-3 was-validated" novalidate [formGroup]="accountForm" (ngSubmit)="createAccount()">
          <div class="col-md-4">
            <label class="form-label">Account Holder Name</label>
            <select class="form-select" formControlName="customerId" required>
              <option value="">Select</option>
              <option *ngFor="let cust of customerList" [ngValue]="cust.key">{{ cust.value }}</option>
            </select>
            <div class="invalid-feedback">
              Please Select Account Holder Name...
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Account Type</label>
            <select class="form-select" formControlName="accountTypeId" required>
              <option value="">Select</option>
              <option *ngFor="let atl of accountTypeList" [ngValue]="atl.key">{{ atl.value }}</option>
            </select>
            <div class="invalid-feedback">
              Please Enter Account Type...
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Bank</label>
            <select class="form-select" formControlName="bankId" required>
              <option value="">Select</option>
              <option *ngFor="let bank of bankList" value="{{bank.key}}">{{ bank.value }}</option>
            </select>
            <div class="invalid-feedback">
              Please Select Bank...
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Do you want credit card?</label>
            <select class="form-select" formControlName="customerWantCreditCard" required>
              <option value="">Select</option>
              <option *ngFor="let yn of yesOrNo" [ngValue]="yn.key">{{ yn.value }}</option>
            </select>
            <div class="invalid-feedback">
              Please Select Do you want credit card...
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label">Do you want this account as primary account?</label>
            <select class="form-select" formControlName="doYouWantToChangeThisAccountToPrimaryAccount" required>
              <option value="">Select</option>
              <option *ngFor="let yn of yesOrNo" [ngValue]="yn.key">{{ yn.value }}</option>
            </select>
            <div class="invalid-feedback">
              Please Select do you want to change this account to primary account...
            </div>
          </div>
          <div class="col-md-3">
            <label class="form-label">Account Minimun Balance</label>
            <input type="text" class="form-control" value="500" disabled>
          </div>
          <div class="col-12">
            <button type="submit" [attr.disabled]="isSubmitted == true ? true : null" class="btn btn-primary">Create Account</button>
          </div>
          <div class="col-12" *ngIf="messageList && messageList.length != 0">
            <h3 *ngFor="let msg of messageList">{{msg}}</h3>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


