<body>
  <div class="dashboard" *ngIf="isLogined">
    <div class="dashboard-nav" [class.mobile-show]="isMobileNavVisible">
      <header>
        <a href="#" class="brand-logo">
          <i class="fas fa-anchor"></i> <span>Banking Tool</span>
        </a>
      </header>
      <nav class="dashboard-nav-list">
        <a [routerLink]="[appPaths.home]" class="dashboard-nav-item">
          <i class="fas fa-home"></i> Home
        </a>
        <div class="dashboard-nav-dropdown"
             *ngFor="let dropdown of Menus"
             [class.show]="dropdown.isOpen">
          <a class="dashboard-nav-item dashboard-nav-dropdown-toggle"
             (click)="toggleDropdown(dropdown)">
            <i [class]="dropdown.icon"></i> {{ dropdown.label }}
          </a>
          <div class="dashboard-nav-dropdown-menu">
            <a *ngFor="let item of dropdown.items"
               class="dashboard-nav-dropdown-item"
               [routerLink]="[item.path]">
              {{ item.menu }}
            </a>
          </div>
        </div>
        <div class="nav-item-divider"></div>
        <a href="#" class="dashboard-nav-item" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </nav>
    </div>
    <div class="dashboard-app" [class.dashboard-compact]="isCompact">
      <header class="dashboard-toolbar">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-2">
              {{logggedInUserName}}
            </div>
          </div>
        </div>
      </header>
      <div class="dashboard-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <div *ngIf="!isLogined">
    <router-outlet></router-outlet>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</body>




<!--<a href="#" class="dashboard-nav-item">
  <i class="fas fa-tachometer-alt"></i> Dashboard
</a>
<a href="#" class="dashboard-nav-item">
  <i class="fas fa-file-upload"></i> Upload
</a>
<div class="dashboard-nav-dropdown"
     *ngFor="let dropdown of dropdowns"
     [class.show]="dropdown.isOpen">
  <a href="#!"
     class="dashboard-nav-item dashboard-nav-dropdown-toggle"
     (click)="toggleDropdown(dropdown)">
    <i [class]="dropdown.icon"></i> {{ dropdown.label }}
  </a>
  <div class="dashboard-nav-dropdown-menu">
    <a href="#"
       *ngFor="let item of dropdown.items"
       class="dashboard-nav-dropdown-item">
      {{ item }}
    </a>
  </div>
</div>
<a href="#" class="dashboard-nav-item">
  <i class="fas fa-cogs"></i> Settings
</a>
<a href="#" class="dashboard-nav-item">
  <i class="fas fa-user"></i> Profile
</a>-->
